.tab-header-bold {
}
.nav-tabs a.tab-header-blue.active {
    color: #FFFFFF;
    background-color: rgba(22,116,21,.7);
}

.nav-link {
    color: #17A589;
}

.content{
    /*
    background-color: #F0F3F4;
    */
}